$black: #000000; 
$lightgreen: #2ECC71;
$darkgreen: #25A35A;
$lightRed:#E74C3C;
$lightpurple: #8C508C;
$darkpurple: #623862;
$darkred: #B93D30;
$white: #FFFFFF; 
$grey: #a6a6a6;
$lightgrey: #cccccc;
$darkgrey: #4c4c4c;


