/* #main-view-wrapper {
  margin-top: 10px;
  background-color: white; 
  z-index: 500;
  padding: 10px;
  border-radius: 2px;
  opacity: 0.95;

}  */
.subheading-styling{
	background-color: aliceblue;
    
}


.buttons {
	border-radius:2px;
	border:0px;
	display:inline-block;
	cursor:pointer;
	color:white;
	width: 100%;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 7px;
	text-decoration:none;
	&.returnButton{
		background-color: #8C508C;
		margin-bottom: 5px;
	}
	&.deleteButton{
		background-color: #E74C3C;
	}
	&.disabledButton{
		background-color: grey;
		color: lightgrey; 
	}
	&.saveButton{
		background-color:#2ECC71; 
	}
	
}

.deleteButton:hover {
	background-color:#B93D30;
}
.deleteButton:active {
	position:relative;
	top:1px;
}
.returnButton:hover {
	background-color:#623862;
}
.returnButton:active {
	position:relative;
	top:1px;
}

.saveButton:hover {
	background-color:#25A35A;
}
.saveButton:active {
	position:relative;
	top:1px;
}
.collapse-text{
	padding: 15px;
	&.borrowedBy{
		float:right;
	}
}
.available-text{
	font-weight: bold;
}
.if-available{
	height:52px;
}

.image{
	//height: 40px;
	//width: 30px;
}
.navbar.navbar-default{
	border-radius:0px;
	margin-bottom:0px !important;
}

.topmargin{
	margin-top:30px;
}

.navbar-user {
	float: right;
	display: block;
	margin-top: 9px;
	padding: 0px 15px !important;
}
.user-name {
	color: #777;
	line-height: 20px;
	padding: 0px 0px !important;
	background-color: transparent;
	font-size: 12px;
}
.user-name:hover{
		text-decoration: none;
		background-color: transparent !important;
		color: #777;
	}
.logout{
	color: #777;
	text-align: end;
	font-size: 12px;
	line-height: 20px;
	padding: 0px 0px !important;
	background-color: transparent;
}
.logout:hover{
		text-decoration: none;
		background-color: transparent !important;
		color: #555;
	}