
<div class="col-sm-3 col-xs-12">
	<div class="book single-book book-image">
    <div class="book-cover">
      <img ng-src="{{bookInfo.imageLinks.smallThumbnail}}" class="image img-responsive">    
    </div>
  </div>
  <div class="add-margin">
    <div ng-if="available===false">
      <button class="buttons disabledButton">{{'borrow' | translate}}
      </button>
    </div>
    <div ng-if="available===true">
      <button class="buttons saveButton"  ng-click="borrow(book.id);">{{'borrow' | translate}}
      </button>
    </div>
  </div>

  <!--img ng-src="{{bookInfo.imageLinks.smallThumbnail}}" style="width:100px;height:140px;"-->
</div>
<div class="col-sm-9 col-xs-12">
  <div>
   <h3>{{bookInfo.title}}</h3> 
 </div>
 <p>
  <div>
   {{authors}}
 </div>
 <div>Owner:
 </div>
 <div>Borrowed by: {{book.borrowedBy}}
 </div>
</p>
<p>
	{{bookInfo.description}}
</p>
</div>