
<div class="col-sm-3">
    <img ng-src="{{bookInfo.imageLinks.smallThumbnail}}" style="width:100px;height:140px;">
</div>
<div>
    <h3>{{bookInfo.title}}</h3> 
</div>
<div>
    {{authors}}
</div>
<div>Owner: {{books[0].attributes.title}}
</div>
<div>Borrowed by: {{book.borrowedBy}}
</div>
<div ng-if="book.attributes.available==false">
    <button class="disabledButton">{{'borrow' | translate}}
    </button>
</div>
<div ng-if="book.attributes.available==true">
    <button class="saveButton"  ng-click="borrow(book.id);">{{'borrow' | translate}}
    </button>
</div>
<div>
    {{bookInfo.description}}
</div>
