<div id="search-wrapper">
	<div class="row">
		<div class="input-group-lg col-xs-12 col-md-9">
            <input ng-model="search" type="text" class="form-control searching" style="width: 100%" placeholder="" ng-model="query" ng-change="updateQuery()"/>
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>

        <div class="col-xs-12 col-md-3" ng-controller="NewbookCtrl">
            <select class="form-control searching" ng-model="office" style="width: 100%" ng-options="office.office for office in offices | orderBy: 'office'" ng-change="changeOffice(office)" ng-init="getInitOffice()" name="office">
            </select>
        </div>
    </div>
</div>
<ul class="books">
  <li ng-repeat="book in books | filter: search | orderBy: 'attributes.title' | OfficeFilter: office" class="book col-md-2 col-sm-3 col-xs-6 clearfix">
    <div>
      <a ng-href="#/book/{{book.attributes.isbn}}">
        <div class="book-image">
            <div class="book-cover">
              <img ng-src="{{book.attributes.cover}}" class="image img-responsive">   
          </div>

      </div>
       </a> 
      <div class="book-info">
        <div class="book-attrs">
          <h2 class="book-title">{{book.attributes.title}} </h2>
          <p class="book-author">{{book.attributes.author}}</p>
      </div>
      <div ng-if="book.attributes.available==false">
        <button class="buttons disabledButton">{{'borrow' | translate}}
        </button>
    </div>
    <div ng-if="book.attributes.available==true">
        <button class="buttons saveButton"  ng-click="borrow(book.id);">{{'borrow' | translate}}
        </button>
    </div>
</div>
</div>
</li>
</ul>
