<h3>{{'my_books' | translate}}</h3>
<ul class="books">
    <li ng-repeat="book in books | myBooksFilter"  class="book col-md-2 col-sm-3 col-xs-6 clearfix">
        <div>
            <div class="book-image">
                <div class="book-cover"><a ng-href="#/book/{{book.attributes.isbn}}">
                    <img ng-src="{{book.attributes.cover}}" class="image img-responsive"> 
                </a>     
            </div>
        </div>
        <div class="book-info">
            <h2 class="book-title">{{book.attributes.title}} </h2>
            <p class="book-author">{{book.attributes.author}}</p>
            <div ng-if="book.attributes.available==false">
                <div class="book-title">{{'borrowed_by' | translate}}: {{book.attributes.borrowedBy}} </div>
                <button class="buttons returnButton" title="Return" style="cursor:pointer" ng-click="returnBook(book.id);">{{'return_book' | translate}}
                </button>
            </div>
            <div class="if-available" ng-if="book.attributes.available==true">
                <div class="available-text">{{'available' | translate}}</div>
            </div>
            <button class="buttons deleteButton" title="delete" style="cursor:pointer" ng-click="delete(book.id);">{{'delete_book' | translate}}
            </button>

        </div>
    </div>
</li>
</ul>

<h3>{{'my_borrowed_books' | translate}}</h3>
<ul class="books">
    <li ng-repeat="book in books | myBorrowedBooksFilter" class="book col-md-2 col-sm-3 col-xs-6 clearfix">
       <div>
        <div class="book-image">
            <div class="book-cover"><a ng-href="#/book/{{book.attributes.isbn}}">
                <img ng-src="{{book.attributes.cover}}" class="image img-responsive"> 
            </a>     
        </div>
    </div>
    <div class="book-info">
        <h2 class="book-title">{{book.attributes.title}} </h2>
        <p class="book-author">{{book.attributes.author}}</p>
        <h3 class="book-title">{{'owner' | translate}}: {{book.attributes.owner}} </h3>
        <button class="buttons returnButton" title="Return" style="cursor:pointer" ng-click="returnBook(book.id);">{{'return_book' | translate}}
        </button>
    </div>
</div>
</li>
</ul>
